<html>
<head>
	<style>
		body {
			background-color: lightblue;
			font-family: verdana;
			font-size: 16;
			text-align: center;
			align: center;
		}
	</style>
</head>
<body>
<h1>Login Form</h1>
<p>Please enter your credentials below to login, else <a href="signup">Signup</a> to get access
<form action="login" method="post">
<div>
<div>User name:<input type="text" name="username"/></div><br/>
 <div>Password:<input name="password" type="password"/></div><br/>
<input value="Login" type="submit">
</div>
</form>
</body>
</html>